.visit {
    color: blue;
    font-weight: bolder;
}

.folder {
    color: darkblue;
    background-color: antiquewhite;
    font-style: italic;
    border: 1px solid darkred;
    padding: 3px;
}

body {
    display: grid;
    justify-content: center;
    background: url("haxorbg.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.grid-container {
    background: transparent;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: dimgrey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: auto;
    padding: 10px;
}

.grid-item .title {
    background-color: dimgrey;
    padding: 10px;
    font-size: 16px;
    color: darkblue;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    color: white;
    background-color: #333;
}

.button-container {
    display: inline-block;
    width: 900px;
    justify-content: space-between;
}

.previous {
    float: left;
    text-decoration: none;
    background-color: #333;
    color: white;
    display: inline-block;
    padding: 10px 16px;
}

.next {
    float: right;
    text-decoration: none;
    background-color: #333;
    color: white;
    display: inline-block;
    padding: 10px 16px;
}